.top-bar {
    background-color: gold;
    border-bottom:2x solid black;
    position: sticky;
    top: 0;
    z-index:9;
}

.top-bar .nav {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.top-bar .nav-link {
    padding: 0.1em 0.4em;
    margin: 0.2em;
    background-color: black;
    color: white;
}